<h1 class="heading">Show Topic</h1>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= render 'shared/topics_footer' %>
