<div class="row">
  <div class="col-md-6 col-centered">
    <div id="custom-search-input">
      <form action="/search" accept-charset="UTF-8" role="search" method="get">
        <div class="input-group col-md-12">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <%= text_field_tag :q, params[:q], class: 'form-control input-lg', placeholder: 'Search for notes here' %>
          <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button" name="">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
    </div>
  </div>
</div>

